.gotit {
    display: inline-block;
    font-family: 'Space Mono', monospace;
    padding: 10px 20px;
    border-color: #e26d5c;
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #e29f6d; 
    color: #f8f8f8;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
}

.letters{
    width: 90%;
    margin: auto;
    display: flex;
    align-content: space-between;
}

.letterRow{
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px #9dac68;
    height: 60px;
    padding-top: 20px;    

}
.pm{
    /* flex-grow: 2;     */
    text-align: center;
    justify-content: center;
    flex-basis: 30%;
    
}
.notpm{
    /* flex-shrink: 2; */
    flex-basis: 30%;
}



.lettersToMe, .lettersFromMe{
    /* flex-grow: 2; */
    justify-content: space-between;
    flex-basis: 45%;
    margin: 30px;

}
.ltrheader{
    color: #9dac68;
}





