.img-circle {
    border-radius: 50%;
    /* margin: 10px 0px 0px 40px; */
}

.pendingpallist{
    width: 70%;
    /* table-layout: auto; */
    margin: auto;
}

.pplheader{
    width:67%;
    margin: 30px auto 0px auto;

    background-color: #9dac68;
    padding: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    
}
